@import "../../styles/themes/index.scss";

.mainClock {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .contentClock {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 250px;
    border-width: 5px;
    border-style: solid;
    @include themify("border-color", "mainColor");

    .clock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        @include themify("color", "mainColor");
        font-size: 7rem;
        font-weight: 600;
      }
    }
  }

  .actions {
    width: 50%;

    .profile {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      margin-bottom: 2rem;

      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 40px;
      }

      .descriptionAndLevel {
        h2 {
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--blue_dark);
        }

        .contentLevel {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.6rem;

          img.up {
            width: 15px;
            height: auto;
          }

          span {
            font-size: 1rem;
            font-weight: 400;
            color: var(--gray_dark);
          }
        }
      }
    }

    .desafios {
      margin: 2rem 0;

      h2 {
        font-size: 1.25rem;
        font-weight: 400;
        color: var(--gray_dark);

        span {
          font-weight: 600;
          @include themify("color", "mainColor");
        }
      }
    }

    button.start {
      width: 100%;
      padding: 2rem 1rem;
      @include themify("background", "mainColor");
      color: var(--white);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;

      span {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }
}
