:root {
  --red: #d63031;
  --green: #4cd62b;
  --green_light: #00b894;
  --gray: #cccccc;
  --gray_dark: #666666;
  --gray_light: #dcdde0;
  --blue: #6c5ce7;
  --blue_dark: #2e384d;
  --white: #ffffff;
  --black: #171515;
  --background: #f2f3f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--black);
}

body,
input,
button,
textarea {
  font: 400 1rem "Inter", sans-serif;
}

a {
  text-decoration: none;
  transition: filter 200ms;

  &:hover {
    filter: brightness(0.9);
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: filter 400ms;

  &:hover {
    filter: brightness(0.9);
  }
}

.container {
  width: unquote("min(900px, 90%)");
  margin: 2rem auto;
}

h1 {
  font-family: "Rajdhani", sans-serif;
}

.contentScreens {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  main {
    width: 95%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;

    .container {
      margin: 2rem auto;
    }
  }

  @media (max-width: 800px) {
    & {
      align-items: center;
      justify-content: center;
      flex-direction: column;

      main {
        position: relative;
        width: 100%;

        .container {
          margin: 1rem auto;
        }
      }
    }
  }
}

.modalOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 100%;
  max-width: 500px;
  background: var(--white);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
  text-align: center;

  &:focus {
    outline: 0;
  }

  .closeModal {
    background: transparent;
    position: absolute;
    top: 40px;
    right: 40px;

    svg {
      width: 30px;
      height: 30px;
      color: var(--gray_dark);
    }
  }
}
