@import "../../styles/themes/index.scss";

.header {
  width: 5%;
  @include themify("background", "mainColor");
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 0;
  color: var(--white);

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;

    a {
      color: var(--white);
      text-decoration: none;
    }
  }

  .signOut {
    cursor: pointer;
    transition: filter 200ms;
  }

  .signOut:hover {
    filter: brightness(0.8);
  }

  @media (max-width: 800px) {
    & {
      width: 100%;
      height: auto;
      justify-content: space-around;
      flex-direction: row;
      gap: 1rem;
      bottom: 0;
      right: 0;
      z-index: 2;

      .menu {
        justify-content: center;
        gap: 1rem;
        flex-direction: row;
      }
    }
  }
}
