@import "../../styles/themes/index.scss";

tr.card {
  height: 100px;
  background: var(--white);
  border-radius: 5px;

  td.position {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--gray_dark);
    border-right: 4px solid var(--background);
    text-align: center;
    vertical-align: middle;
  }

  td.profile {
    text-align: left;
    vertical-align: middle;
    padding: 0 1rem 0;

    .contentProfileTable {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.8rem;

      img.imgProfile {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 32px;
      }

      .profileUser {
        h2 {
          font-weight: 600;
          font-size: 1.125rem;
          color: var(--blue_dark);
        }
        .contentLevel {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.6rem;

          img.up {
            width: 15px;
            height: auto;
          }

          span {
            font-size: 1rem;
            font-weight: 400;
            color: var(--gray_dark);
          }
        }
      }
    }
  }

  td.challenges,
  td.xp {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray_dark);

    b {
      @include themify("color", "mainColor");
    }
  }
}
