.ranking {
  display: block;
  width: 100%;
  margin: 2rem auto;
  overflow: auto;

  table {
    width: 100%;
    border: none;
    border-spacing: 0 0.5rem;

    thead {
      text-align: left;

      th {
        font-weight: bold;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: var(--gray_dark);
        opacity: 0.5;
      }
    }
  }
}
