.toDoList {
  margin: 4rem 0;

  h1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--blue_dark);
  }

  .formTask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;

    input[type="text"] {
      width: 70%;
      height: 100%;
      padding: 0 1rem;
      color: var(--blue_dark);
      border-radius: 5px 0 0 5px;
      border: 0;
      outline: 0;

      &::placeholder {
        color: var(--gray_dark);
      }
    }

    button[type="submit"] {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      width: 30%;
      background: var(--blue);
      color: var(--white);
      height: 100%;
      border-radius: 0 5px 5px 0;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  ul {
    margin: 1rem 0;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--gray_dark);
      padding: 2rem 0;

      div.completedTask {
        display: flex;
        align-items: center;
        gap: 2rem;
        outline: 0;

        p {
          font-size: 1.125rem;
          font-weight: 500;
          color: var(--gray_dark);
          margin-right: 2rem;
        }

        &.completed {
          p {
            color: var(--blue);
          }
        }

        .checkbox-container {
          display: block;
          position: relative;
          padding-left: 14px;
          margin-bottom: 32px;

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked {
              & ~ .checkmark {
                background-color: var(--blue);
              }

              & ~ .checkmark:after {
                display: block;
              }
            }
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
            background-color: var(--white);
            border-radius: 5px;

            &:after {
              content: "";
              position: absolute;
              display: none;
              left: 12px;
              top: 6px;
              width: 6px;
              height: 12px;
              border: solid white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }
        }
      }

      button {
        background: transparent;
        border: 0;

        svg {
          color: var(--gray_dark);
        }

        &:hover {
          svg {
            filter: brightness(0.5);
          }
        }
      }
    }
  }
}
